@import "~bootstrap/scss/bootstrap";

$body-color: red;

body {
  //color: $body-color;
}

.navbar {
  background-color: white;
}

.main-container {
  margin-top: 87.844px;
}

.preloader{
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
}

.slide-1 {
  background-image: url("../files/slider/1.jpg");
}

.slide-2 {
  background-image: url("../files/slider/2.jpg");
}

.slide-3 {
  background-image: url("../files/slider/3.jpg");

}

.slide-4 {
  background-image: url("../files/slider/4.jpg");
}

.carousel-inner {
  //height: 60vw;
  max-height: calc(100vh - 87.844px);

  .carousel-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vw;
    width: 100vw;
    //box-shadow: 0 0 15vw 7vw rgba(0, 0, 0, 0.9) inset;

    
  }

  .slide-header {
    margin-bottom: 0;
    font-size: 2.3vw;
  }

  .slide-podheader {
    margin-bottom: 0;
    font-size: 1.8vw;
  }
}

.header {
  div {
    font-size: 4vw;
    font-weight: 500;
  }
}
