<!-- Footer -->
<div class="container-fluid footer">
    <div class="row py-3">
        <div class="menu col-6 col-md-4">
            <ul class="footer-list mobil-list">
                <li><a href="index.html">Главная</a></li>
                <li><a href="gallery.html">Галерея</a></li>
                <li><a href="video.html">Видео</a></li>
                <li><a href="services.html">Услуги</a></li>
                <li><a href="prices.html">Цены</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
            <ul class="footer-list computer-list">
                <li><a href="index.html">Главная</a></li>
                <li><a href="gallery.html">Галерея</a></li>
                <li><a href="video.html">Видео</a></li>
                <li><a href="services.html">Услуги</a></li>
            </ul>
            <ul class="footer-list computer-list">
                <li><a href="prices.html">Цены</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="col-6 contacts text-center col-md-4">
            <div class="small-header">
                Связаться со мной можно:
            </div>
            <div class="small-contacts">
                <p>по e-mail: <a href="mailto:vanna.profi.nn@gmail.com">vanna.profi.nn@gmail.com</a></p>
                <p>по телефону: <a href="tel:+79101367257">+79101367257</a></p>
            </div>
            <div class="small-header">
                или <a href="#" data-toggle="modal" data-target="#callMe">заказать звонок у меня</a>
            </div>
        </div>
        <!--<div  class="col-12 developer col-md-4 d-flex justify-content-center flex-column">-->
            <!--Разработка сайта: <a href="#">R.A.M.S.</a>-->
        <!--</div>-->
    </div>
</div>

<div class="modal fade" id="callMe" tabindex="-1" role="dialog"
     aria-labelledby="review-3-preview-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Заказать звонок от мастера</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="helloInput">Представьтесь, пожалуйста</label>
                        <input type="text" class="form-control" id="helloInput"
                               placeholder="Представьтесь, пожалуйста">
                    </div>
                    <div class="form-group">
                        <label for="phoneInput">Ваш контактный номер телефона</label>
                        <input type="text" class="form-control" id="phoneInput"
                               placeholder="Ваш контактный номер телефона">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="js/bundle.js"></script>
</body>
</html>