<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="src/img/favicon1.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon/favicon.ico"/>
    <link rel="stylesheet" href="css/style.bundle.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <meta name="description" content="Компания Ванная Профи НН занимается отделкой и ремонтом ванн и туалетов в Нижнем Новгороде с 2000 года. Быстро, качественно, дешево. Закажите ремонт вашей ванной прямо сейчас!"/>
</head>
<body>
<!-- Header -->
<nav class="navbar nav-pills nav-fill navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="#"><img src="src/img/logo.png" class="img-fluid" alt=""></a>
    <div class="d-block d-md-none rbrb">
        <a class="btn btn-light btn-lg" href="tel:+79101367257"><i class="fa fa-mobile-alt"></i><span class="ml-1 small-header">+79101367257</span>
        </a>
    </div>

    <button class="btn btn-info navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link <% if (menu_active=='index') { %> text-light bg-info <% } %>" href="index.html">Главная</a>
            <a class="nav-item nav-link <% if (menu_active=='gallery') { %> text-light bg-info <% } %>"
               href="gallery.html">Галерея</a>
            <a class="nav-item nav-link <% if (menu_active=='video') { %> text-light bg-info <% } %>"
               href="video.html">Видео</a>
            <a class="nav-item nav-link <% if (menu_active=='services') { %> text-light bg-info <% } %>"
               href="services.html">Услуги</a>
            <a class="nav-item nav-link <% if (menu_active=='prices') { %> text-light bg-info <% } %>"
               href="prices.html">Цены</a>
            <a class="nav-item nav-link <% if (menu_active=='reviews') { %> text-light bg-info <% } %>"
               href="reviews.html">Отзывы</a>
            <a class="nav-item nav-link <% if (menu_active=='contacts') { %> text-light bg-info <% } %>"
               href="contacts.html">Контакты</a>
        </div>
    </div>
    <div class="d-md-block brbr d-none">
        <a class="btn btn-light btn-lg" href="tel:+79101367257"><i class="fa fa-mobile-alt"></i><span class="ml-1 small-header">+79101367257</span>
        </a>
    </div>

</nav>

