<% var data = {
title: "Контакты | Ванная Профи НН",
menu_active: "contacts"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container-fluid main-container d-flex justify-content-center flex-column">
    <div class="row text-row mx-auto">
        <div class="col-12 col-md-6 py-4">
            <img src="/src/img/contacts.jpg" class="col-md-10 w-100">
        </div>
        <div class="col-12 col-md-6 small-header d-flex justify-content-center flex-column">
            Компания "Ванная Профи НН"<br/>г. Нижний Новгород<br/><a href="tel:+79101367257">+79101367257</a><br/><a href="mailto:vanna.profi.nn@gmail.com">vanna.profi.nn@gmail.com</a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>