<% var data = {
title: "Галерея | Ванная Профи НН",
menu_active: "gallery"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container-fluid main-container">
    <div class="row text-row mx-auto">
        <div class="col-12 header">
            <div class="text-center">
                Фото реализованных проектов
            </div>
        </div>
        <div class="col-12 main-text">
            В данном разделе сайта вы можете ознакомиться с проектами, которые были реализованы мной. В галерее
            представлены как интерьеры, придуманные дизайнером компании, так и самостоятельно нашими клиентами.
            Используя фотографии, вы можете визуально оценить не только уровень мастерства и профессионализма наших
            специалистов, но и найти вдохновение на создание собственного дизайн-проекта для ремонта ванной комнаты под
            ключ. Если вам понравился какой-либо определенный интерьер, и вы хотели бы что-то подобное, или, может быть,
            в вашей голове уже зреет идея собственного уникального дизайна, то мы готовы воплотить все это в реальность.
        </div>
        <div class="col-12 header">
            <div class="text-center">
                Звоните, и мы сделаем вам предложение, от которого будет сложно отказаться!
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>