<% var data = {
title: "Главная | Ванная Профи НН",
menu_active: "index"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container-fluid main-container">
          <!-- Мастер -->
      <div class="row text-row aboutme-row mx-auto">
          <div class="col-12 p-4 aboutme small-header d-flex justify-content-center flex-column">
              <div class="">
                  Здравствуйте!
                  Меня зовут Василий, я занимаюсь профессиональной укладкой керамических и натуральных
                  облицовочных материалов с 2000 года. Все работы, что вы видите на фотографиях я создаю
                  самостоятельно.<br>
                  <span>
                  Я выполняю укладку плитки на пол и на стену в офисных, торговых, жилых (квартирах и коттеджах). Предварительно подготавливаю поверхности под укладку плитки.
                  Работаю с плиткой любого размера и любого качества, с гранитом, мрамором, керамогранитом, декоративным камнем. Работаю собственным инструментом.
              </span>
                  </div>
          </div>
      </div>

    <!-- Слайдер -->
    <div class="row justify-content-center carousel-container">
        <div class="preloader">
            <span class="slide-1"></span>
            <span class="slide-2"></span>
            <span class="slide-3"></span>
            <span class="slide-4"></span>
        </div>
        <div class="carousel-block">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <div class="carousel-bg-image slide-1"></div>
                        <div class="carousel-caption d-block py-1">
                            <p class="slide-header">Отделка ванной комнаты</p>
                            <p class="slide-podheader">"под ключ" от 10 000 руб.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="carousel-bg-image slide-2"></div>
                        <div class="carousel-caption d-block py-1">
                            <p class="slide-header">Установка декоративной плитки</p>
                            <p class="slide-podheader">1м<sup>2</sup> от 700 руб.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="carousel-bg-image slide-3"></div>
                        <div class="carousel-caption d-block py-1">
                            <p class="slide-header">Ремонт ванной комнаты + туалета</p>
                            <p class="slide-podheader">С установкой мебели от 13 000 руб.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="carousel-bg-image slide-4"></div>
                        <div class="carousel-caption d-block py-1">
                            <p class="slide-header">Установка душевой кабинки</p>
                            <p class="slide-podheader">от 6 500 руб.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Преимущества -->
    <div class="row mx-auto advantages">
        <div class="col-12 header">
            <div class="text-center">Мои преимущества</div>
        </div>


        <ul class="list-unstyled col-12 col-md-6 advantages-list mb-4">
            <li class="media">
                <img src="src/img/check-3.png" class="mr-3" alt="...">
                <div class="media-body d-flex justify-content-center flex-column">
                    Большой опыт работы
                </div>
            </li>
            <li class="media my-4">
                <img src="src/img/check-3.png" class="mr-3" alt="...">
                <div class="media-body d-flex justify-content-center flex-column">
                    Гибкая ценовая политика
                </div>
            </li>
            <li class="media">
                <img src="src/img/check-3.png" class="mr-3" alt="...">
                <div class="media-body d-flex justify-content-center flex-column">
                    Индивидуальный подход к каждому заказу
                </div>
            </li>
        </ul>
        <ul class="list-unstyled col-12 col-md-6 advantages-list mb-4">
            <li class="media">
                <img src="src/img/check-3.png" class="mr-3" alt="...">
                <div class="media-body d-flex justify-content-center flex-column">
                    Высокая квалификация
                </div>
            </li>
            <li class="media my-4">
                <img src="src/img/check-3.png" class="mr-3" alt="...">
                <div class="media-body d-flex justify-content-center flex-column">
                    Быстрые сроки выполнения ремонта
                </div>
            </li>
            <li class="media">
                <img src="src/img/check-3.png" class="mr-3" alt="...">
                <div class="media-body d-flex justify-content-center flex-column">
                    Качественные услуги
                </div>
            </li>
        </ul>
    </div>

    <!-- Превью галереи -->
    <div class="row gallery-preview mx-auto">
        <div class="col-12 header">
            <div class="text-center">Примеры моих ремонтов</div>
        </div>

        <div class="modal fade" id="modal_index_example_1" tabindex="-1" role="dialog"
             aria-labelledby="modal_index_example_1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_index_example_1Label">Ремонт на улице Запрудная</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="src/img/slider/4-1.jpg" class="modal-img" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_index_example_2" tabindex="-1" role="dialog"
             aria-labelledby="modal_index_example_1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_index_example_2Label">Ремонт на улице Усилова</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="src/img/slider/2.jpg" class="modal-img" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_index_example_3" tabindex="-1" role="dialog"
             aria-labelledby="modal_index_example_1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_index_example_3Label">Ремонт на улице Минина</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="src/img/slider/3.jpg" class="modal-img" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-center">
            <a data-toggle="modal" data-target="#modal_index_example_1">
                <img src="src/img/slider/4-1.jpg" class="card-img-top gallery-preview-img" alt="">
            </a>
            <div class="card-body">
                <p class="card-text small-header">Ремонт на улице Запрудная</p>
            </div>
        </div>
        <div class="card central-card text-center">
            <a data-toggle="modal" data-target="#modal_index_example_2">
                <img src="src/img/slider/2.jpg" class="card-img-top gallery-preview-img" alt="">
            </a>
            <div class="card-body">
                <p class="card-text small-header">Ремонт на улице Усилова</p>
            </div>
        </div>
        <div class="card text-center">
            <a data-toggle="modal" data-target="#modal_index_example_3">
                <img src="src/img/slider/3.jpg" class="card-img-top gallery-preview-img" alt="">
            </a>
            <div class="card-body">
                <p class="card-text small-header">Ремонт на улице Минина</p>
            </div>
        </div>

        <a href="gallery.html" class="btn btn-lg my-4 mx-auto btn-info">Открыть галерею</a>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-E50BFtGHnM"
                    allowfullscreen></iframe>
        </div>
    </div>

    <!-- Отзывы -->
    <div class="row mx-auto reviews-preview">
        <div class="col-12 header">
            <div class="text-center">Отзывы моих клиентов</div>
        </div>

        <div
                class="modal fade"
                id="review-1-preview"
                tabindex="-1"
                role="dialog"
                aria-labelledby="review-1-preview-label"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <p class="small-header modal-title review-modal-header" id="review-1-preview-label">
                                Отзыв о ремонте на улице Минина
                            </p>
                        </div>
                        <p class="review-modal-date">21.01.2016</p>
                    </div>
                    <div class="modal-body">
                        Отзыв только самый лучший! Вот уже год вспоминаем Вас с благодарностью! Хочу отметить, что работа очень качественная, высокопрофессиональная. Результат ремонта радует нас не только эстетикой, но и тем, что были решены наши проблемы нерациональной организации пространства. Будем планировать дальнейший ремонт - обязательно обратимся снова!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <a class="btn btn-info text-light">Посмотреть все отзывы</a>
                    </div>
                </div>
            </div>
        </div>

        <div
                class="modal fade"
                id="review-2-preview"
                tabindex="-1"
                role="dialog"
                aria-labelledby="review-2-preview-label"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <p class="small-header modal-title review-modal-header" id="review-2-preview-label">
                                Отзыв о ремонте на улице Усилова
                            </p>
                        </div>
                        <p class="review-modal-date">29.08.2017</p>
                    </div>
                    <div class="modal-body">
                        Обращались к мастеру Василию по вопросу ремонта под ключ санузлов и укладки плитки на пол  и стену в помещениях кухни и прихожей. Очень довольна результатом его работы. Прислушалась к его советам и не пожалела. Качественно и продумано провел коммуникации,  выполнил подготовительные работы.  При покупке плитки и сантехники помог с  выбором.  Аккуратно и красиво  улоложил плитку, при этом учел все мои пожелания. Мастерски  выпилил отверстия в плитке  под полотенцесушитель и разетки. Ни одна из плиток не испорчена. Приобретенные материалы  были четко им рассчитаны и использованы  без остатка. Профессионально установил всю сантехнику, а также боллер и зеркало в ванной. Работа была выполнена четко в оговоренные сроки. Спасибо! Рекомендую только этого специалиста!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <a class="btn btn-info text-light">Посмотреть все отзывы</a>
                    </div>
                </div>
            </div>
        </div>

        <div
                class="modal fade"
                id="review-3-preview"
                tabindex="-1"
                role="dialog"
                aria-labelledby="review-3-preview-label"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <p class="small-header modal-title review-modal-header" id="review-3-preview-label">
                                Отзыв о ремонте на улице Комсомольской
                            </p>
                        </div>
                        <p class="review-modal-date">03.04.2015</p>
                    </div>
                    <div class="modal-body">
                        Здравствуйте Василий! Пользуясь случаем хочу ещё раз поблагодарить за проделанную работу. Ремонт в ванной и туалете был сделан качественно и как мне показалось в максимально быстрые сроки. Чуть-чуть непонравилось ожидание в течении двух недель из-за занятости мастера
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <a class="btn btn-info text-light">Посмотреть все отзывы</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="jumbotron">
                <p class="review-header">Отзыв о ремонте на улице Минина</p>
                <p class="review-date">21.01.2016</p>
                <hr class="my-3"/>
                <p class="review-content">
                    Отзыв только самый лучший! Вот уже год вспоминаем Вас с благодарностью! Хочу отметить, что работа очень качественная, высокопрофессиональная. Результат ремонта радует нас не только эстетикой, но и тем, что были решены наши проблемы нерациональной организации пространства. Будем планировать дальнейший ремонт - обязательно обратимся снова!
                </p>
                <a class="read-more" data-toggle="modal" data-target="#review-1-preview">Читать весь отзыв</a>
                <p class="author">Николай К.</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="jumbotron">
                <p class="review-header">Отзыв о ремонте на улице Усилова</p>
                <p class="review-date">29.08.2017</p>
                <hr class="my-3"/>
                <p class="review-content">
                    Обращались к мастеру Василию по вопросу ремонта под ключ санузлов и укладки плитки на пол  и стену в помещениях кухни и прихожей. Очень довольна результатом его работы. Прислушалась к его советам и не пожалела. Качественно и продумано провел коммуникации,  выполнил подготовительные работы.  При покупке плитки и сантехники помог с  выбором.  Аккуратно и красиво  улоложил плитку, при этом учел все мои пожелания. Мастерски  выпилил отверстия в плитке  под полотенцесушитель и разетки. Ни одна из плиток не испорчена. Приобретенные материалы  были четко им рассчитаны и использованы  без остатка. Профессионально установил всю сантехнику, а также боллер и зеркало в ванной. Работа была выполнена четко в оговоренные сроки. Спасибо! Рекомендую только этого специалиста!
                </p>
                <a class="read-more" data-toggle="modal" data-target="#review-2-preview">Читать весь отзыв</a>
                <p class="author">В. Рогова</p>
            </div>
        </div>

        <div class="col-4 p-3 d-none d-lg-block">
            <div class="jumbotron">
                <p class="review-header">
                    Отзыв о ремонте на улице Комсомольской
                </p>
                <p class="review-date">03.04.2015</p>
                <hr class="my-3"/>
                <p class="review-content">
                   Здравствуйте Василий! Пользуясь случаем хочу ещё раз поблагодарить за проделанную работу. Ремонт в ванной и туалете был сделан качественно и как мне показалось в максимально быстрые сроки. Чуть-чуть не понравилось ожидание в течении двух недель из-за занятости мастера
                </p>
                <a class="read-more" data-toggle="modal" data-target="#review-3-preview">Читать весь отзыв</a>
                <p class="author">А. Аксенов</p>
            </div>
        </div>

        <a href="reviews.html" class="btn btn-lg my-4 mx-auto btn-info">Посмотреть все отзывы</a>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>