<% var data = {
title: "Цены | Ванная Профи НН",
menu_active: "prices"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container-fluid main-container">
    <div class="row text-row mx-auto">
        <div class="col-12 header">
            <div class="text-center">Цены на отделочные работы от компании «Ванная Профи НН»</div>
        </div>

        <div class="col-12">
            <table class="table col-12 col-md-6 col-lg-5 mx-auto">
                <thead class="header">
                <tr class="table-info">
                    <th scope="col" style="font-weight: 500">Услуга</th>
                    <th scope="col" style="font-weight: 500">Цена</th>
                </tr>
                </thead>
                <tbody class="small-header">
                <tr>
                    <th scope="row">Демонтаж старой плитки</th>
                    <td>100 р./м<sup>2</sup></td>
                </tr>
                <tr>
                    <th scope="row">Штукатурка</th>
                    <td>400 р./м<sup>2</sup></td>
                </tr>
                <tr>
                    <th scope="row">Укладка плитки</th>
                    <td>600 р./м<sup>2</sup></td>
                </tr>
                <tr>
                    <th scope="row">Грунтовка</th>
                    <td>50 р./м<sup>2</sup></td>
                </tr>
                <tr>
                    <th scope="row">Установка ванной</th>
                    <td>1000 р.</td>
                </tr>
                <tr>
                    <th scope="row">Установка унитаза "Компакт"</th>
                    <td>1000 р.</td>
                </tr>
                <tr>
                    <th scope="row">Монтаж водопровода</th>
                    <td>от 3000 р.</td>
                </tr>
                <tr>
                    <th scope="row">Монтаж канализации</th>
                    <td>от 2000 р.</td>
                </tr>
                <tr>
                    <th scope="row">Монтаж потолка</th>
                    <td>900 р./м<sup>2</sup></td>
                </tr>
                <tr>
                    <th scope="row">Монтаж короба</th>
                    <td>от 1000 р.</td>
                </tr>
                <tr>
                    <th scope="row">Монтаж электроточки</th>
                    <td>1000 р.</td>
                </tr>
                <tr>
                    <th scope="row">Установка смесителя</th>
                    <td>500 р.</td>
                </tr>
                <tr>
                    <th scope="row">Установка мойдодыра</th>
                    <td>750 р.</td>
                </tr>
                <tr>
                    <th scope="row">Установка инсталяции</th>
                    <td>5000 р.</td>
                </tr>
                <tr>
                    <th scope="row">Установка душевой кабинки</th>
                    <td>3000 р.</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 col-md-6 p-5">
            <div class="price-block p-3">
                <div class="text-center small-header">
                    Ванная комната 1.5х1.5
                </div>
                <img class="w-100" src="src/img/prices/vannaya1.png">
                <div class="text-center small-header">
                    от 15000 руб. "под ключ"
                </div>
                <a href="tel:+79101367257" class="btn btn-info small-header text-light w-100 mt-3">Позвонить мастеру: +7 (910) 136-72-57</a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <div class="price-block p-3">
                <div class="text-center small-header">
                    Ванная комната 1.7х1.5
                </div>
                <img class="w-100" src="src/img/prices/vannaya2.png">
                <div class="text-center small-header">
                    от 29000 руб. "под ключ"
                </div>
                <a href="tel:+79101367257" class="btn btn-info small-header text-light w-100 mt-3">Позвонить мастеру: +7 (910) 136-72-57</a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <div class="price-block p-3">
                <div class="text-center small-header">
                    Туалет 0.8х1.5
                </div>
                <img class="w-100" src="src/img/prices/toilet.png">
                <div class="text-center small-header">
                    от 17500 руб. "под ключ"
                </div>
                <a href="tel:+79101367257" class="btn btn-info small-header text-light w-100 mt-3">Позвонить мастеру: +7 (910) 136-72-57</a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <div class="price-block p-3">
                <div class="text-center small-header">
                    Совмещенный санузел 1.9х1.6
                </div>
                <img class="w-100" src="src/img/prices/sanuzel.png">
                <div class="text-center small-header">
                    от 37000 руб. "под ключ"
                </div>
                <a href="tel:+79101367257" class="btn btn-info small-header text-light w-100 mt-3">Позвонить мастеру: +7 (910) 136-72-57</a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <div class="price-block p-3">
                <div class="text-center small-header">
                    Кухня 2.5х2.5
                </div>
                <img class="w-100" src="src/img/prices/cook1.png">
                <div class="text-center small-header">
                    от 45000 руб. "под ключ"
                </div>
                <a href="tel:+79101367257" class="btn btn-info small-header text-light w-100 mt-3">Позвонить мастеру: +7 (910) 136-72-57</a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <div class="price-block p-3">
                <div class="text-center small-header">
                    Кухня 3.1х2.4
                </div>
                <img class="w-100" src="src/img/prices/cook2.png">
                <div class="text-center small-header">
                    от 49000 руб. "под ключ"
                </div>
                <a href="tel:+79101367257" class="btn btn-info small-header text-light w-100 mt-3">Позвонить мастеру: +7 (910) 136-72-57</a>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>