<% var data = {
title: "Услуги | Ванная Профи НН",
menu_active: "reviews"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container-fluid main-container">
    <div class="row mx-auto reviews-preview">
        <div
                class="modal fade"
                id="review-1-preview"
                tabindex="-1"
                role="dialog"
                aria-labelledby="review-1-preview-label"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <p class="small-header modal-title review-modal-header" id="review-1-preview-label">
                                Отзыв о ремонте на улице Минина
                            </p>
                        </div>
                        <p class="review-modal-date">21.01.2016</p>
                    </div>
                    <div class="modal-body">
                        Отзыв только самый лучший! Вот уже год вспоминаем Вас с благодарностью! Хочу отметить, что работа очень качественная, высокопрофессиональная. Результат ремонта радует нас не только эстетикой, но и тем, что были решены наши проблемы нерациональной организации пространства. Будем планировать дальнейший ремонт - обязательно обратимся снова!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div
                class="modal fade"
                id="review-2-preview"
                tabindex="-1"
                role="dialog"
                aria-labelledby="review-2-preview-label"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <p class="small-header modal-title review-modal-header" id="review-2-preview-label">
                                Отзыв о ремонте на улице Усилова
                            </p>
                        </div>
                        <p class="review-modal-date">29.08.2017</p>
                    </div>
                    <div class="modal-body">
                        Обращались к мастеру Василию по вопросу ремонта под ключ санузлов и укладки плитки на пол  и стену в помещениях кухни и прихожей. Очень довольна результатом его работы. Прислушалась к его советам и не пожалела. Качественно и продумано провел коммуникации,  выполнил подготовительные работы.  При покупке плитки и сантехники помог с  выбором.  Аккуратно и красиво  улоложил плитку, при этом учел все мои пожелания. Мастерски  выпилил отверстия в плитке  под полотенцесушитель и разетки. Ни одна из плиток не испорчена. Приобретенные материалы  были четко им рассчитаны и использованы  без остатка. Профессионально установил всю сантехнику, а также боллер и зеркало в ванной. Работа была выполнена четко в оговоренные сроки. Спасибо! Рекомендую только этого специалиста!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div
                class="modal fade"
                id="review-3-preview"
                tabindex="-1"
                role="dialog"
                aria-labelledby="review-3-preview-label"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <p class="small-header modal-title review-modal-header" id="review-3-preview-label">
                                Отзыв о ремонте на улице Комсомольской
                            </p>
                        </div>
                        <p class="review-modal-date">03.04.2015</p>
                    </div>
                    <div class="modal-body">
                        Здравствуйте Василий! Пользуясь случаем хочу ещё раз поблагодарить за проделанную работу. Ремонт в ванной и туалете был сделан качественно и как мне показалось в максимально быстрые сроки. Чуть-чуть непонравилось ожидание в течении двух недель из-за занятости мастера
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div
                class="modal fade"
                id="review-4-preview"
                tabindex="-1"
                role="dialog"
                aria-labelledby="review-3-preview-label"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <p class="small-header modal-title review-modal-header" id="review-4-preview-label">
                                Отзыв о ремонте на улице Родионова
                            </p>
                        </div>
                        <p class="review-modal-date">02.04.2014</p>
                    </div>
                    <div class="modal-body">
                        В 2014г. я затеяла ремонт на кухне, знакомые посоветовали Василия, он делал демонтаж старой плитки, выравнивал стены, затем выложил фартук на стене и пол. Очень ответстенный и аккуратный работник! Моя семья осталась довольна! Всем рекомендую!!!                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-12 header">
            <div class="text-center">Отзывы моих клиентов</div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="jumbotron">
                <p class="review-header">Отзыв о ремонте на улице Минина</p>
                <p class="review-date">21.01.2016</p>
                <hr class="my-3"/>
                <p class="review-content">
                    Отзыв только самый лучший! Вот уже год вспоминаем Вас с благодарностью! Хочу отметить, что работа очень качественная, высокопрофессиональная. Результат ремонта радует нас не только эстетикой, но и тем, что были решены наши проблемы нерациональной организации пространства. Будем планировать дальнейший ремонт - обязательно обратимся снова!
                </p>
                <a class="read-more" data-toggle="modal" data-target="#review-1-preview">Читать весь отзыв</a>
                <p class="author">Николай К.</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="jumbotron">
                <p class="review-header">Отзыв о ремонте на улице Усилова</p>
                <p class="review-date">29.08.2017</p>
                <hr class="my-3"/>
                <p class="review-content">
                    Обращались к мастеру Василию по вопросу ремонта под ключ санузлов и укладки плитки на пол  и стену в помещениях кухни и прихожей. Очень довольна результатом его работы. Прислушалась к его советам и не пожалела. Качественно и продумано провел коммуникации,  выполнил подготовительные работы.  При покупке плитки и сантехники помог с  выбором.  Аккуратно и красиво  улоложил плитку, при этом учел все мои пожелания. Мастерски  выпилил отверстия в плитке  под полотенцесушитель и разетки. Ни одна из плиток не испорчена. Приобретенные материалы  были четко им рассчитаны и использованы  без остатка. Профессионально установил всю сантехнику, а также боллер и зеркало в ванной. Работа была выполнена четко в оговоренные сроки. Спасибо! Рекомендую только этого специалиста!
                </p>
                <a class="read-more" data-toggle="modal" data-target="#review-2-preview">Читать весь отзыв</a>
                <p class="author">В. Рогова</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="jumbotron">
                <p class="review-header">
                    Отзыв о ремонте на улице Комсомольской
                </p>
                <p class="review-date">03.04.2015</p>
                <hr class="my-3"/>
                <p class="review-content">
                   Здравствуйте Василий! Пользуясь случаем хочу ещё раз поблагодарить за проделанную работу. Ремонт в ванной и туалете был сделан качественно и как мне показалось в максимально быстрые сроки. Чуть-чуть непонравилось ожидание в течении двух недель из-за занятости мастера
                </p>
                <a class="read-more" data-toggle="modal" data-target="#review-3-preview">Читать весь отзыв</a>
                <p class="author">А. Аксенов</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="jumbotron">
                <p class="review-header">Ремонт в квартире на улице Родионова</p>
                <p class="review-date">02.04.2014</p>
                <hr class="my-3"/>
                <p class="review-content">
                   В 2014г. я затеяла ремонт на кухне, знакомые посоветовали Василия, он делал демонтаж старой плитки, выравнивал стены, затем выложил фартук на стене и пол. Очень ответстенный и аккуратный работник! Моя семья осталась довольна! Всем рекомендую!!!
                </p>
                <a class="read-more" data-toggle="modal" data-target="#review-4-preview">Читать весь отзыв</a>
                <p class="author">Светалана</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="picture-preview-remont">
                <a href="/src/img/reviews/rev-1.jpg" data-lightbox="roadtrip"><img src="/src/img/reviews/rev-1.jpg"></a>
                <div class="galery-img-label mt-3 p-2">
                    Отзыв №1
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="picture-preview-remont">
                <a href="/src/img/reviews/rev-2.jpg" data-lightbox="roadtrip"><img src="/src/img/reviews/rev-2.jpg"></a>
                <div class="galery-img-label mt-3 p-2">
                    Отзыв №2
                </div>
            </div>
        </div>

    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>