<% var data = {
title: "Услуги | Ванная Профи НН",
menu_active: "services"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container-fluid main-container">
    <div class="row text-row mx-auto">
        <div class="col-12 header">
            <div class="text-center">
                Мои услуги
            </div>
        </div>
        <div class="col-12 main-text">
            Мастерская ремонта «Ванная Профи НН» специализируется на ремонте и отделке санузлов «под ключ» в Нижнем
            Новгороде, предлагая своим клиентам высокое качество по привлекательной цене. Сотрудничество с заказчиком
            ведется на договорной основе, где прописаны наши гарантийные обязательства сроком на три года. Кроме того,
            мы вывозим весь строительный мусор после окончания работ!
        </div>
        <div class="col-12 header">
            <div class="text-center">
                Санузел под ключ профессионально и недорого!
            </div>
        </div>
        <div class="col-12 main-text">
            Мы готовы отремонтировать санузел "под ключ" как в стандартном варианте, так и реализовать самый смелый и
            футуристический дизайн-проект. В процессе работы нами используются только качественные материалы и
            современное оборудование.
        </div>
        <div class="col-12 header">
            <div class="text-center">
                Заказать ремонт ванной или же ремонт санузла под ключ вы можете, позвонив мне номеру: <a href="tel:+79101367257" class="badge badge-info">+ 7 (910) 136-72-57</a>
            </div>
        </div>
    </div>
    <div class="row services-list-group mx-auto text-center">
        <div>
            <a href="tel:+79101367257" class="call-me-button col-12 col-md-5 m-2 btn btn-info">
                Ремонт ванной комнаты под ключ
            </a>
            <a href="tel:+79101367257" class="call-me-button col-12 col-md-5 m-2 btn btn-info">
                Ремонт совмещенного санузла
            </a>
            <a href="tel:+79101367257" class="call-me-button col-12 col-md-5 m-2 btn btn-info">
                Установка душевой кабины
            </a>
            <a href="tel:+79101367257" class="call-me-button col-12 col-md-5 m-2 btn btn-info">
                Ремонт туалета под ключ
            </a>
            <a href="tel:+79101367257" class="call-me-button col-12 col-md-5 m-2 btn btn-info">
                Укладка плитки в ванной комнате
            </a>
            <a href="tel:+79101367257" class="call-me-button col-12 col-md-5 m-2 btn btn-info">
                Дизайн ванной комнаты в Нижнем Новгороде
            </a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>