<% var data = {
title: "Видео | Ванная Профи НН",
menu_active: "video"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container-fluid main-container">
    <div class="row text-row mx-auto">
        <div class="col-12 header">
            <div class="text-center">
                Видеоотчеты о проделанной работе
            </div>
        </div>


        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m1sQ_c893Ag"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LlDzqfJlxEU"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2b4cKXUpaDs"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sa2cqBbYXMM"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-E50BFtGHnM"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nPBRJH0RN9c"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kFXL-Mqp7Zk"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XaEUPST_YqE"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/viOo6Kz4_6E"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GlZeK4ABhlM"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vLyEmjt2spM"
                    allowfullscreen></iframe>
        </div>
        <div class="m-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kzoh1fBZ7Ns"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>