$body-bg-color: #ececec;
$info-color: #17a2b8;

.main-container {
  .picture-preview-remont {
    a {
      img {
        width: 100%;
      }
    }

    .galery-img-label {
      position: absolute;
      top: 0;
      background-color: $info-color;
      color: white;
    }
  }
}

// ТЕЛЕФОНЫ //
@media only screen and (max-width: 699px) {
  body {
    .main-container {
      .picture-preview-remont {
        .galery-img-label {
          font-size: 10px;
        }
      }
    }
  }
}

// ТЕЛЕФОНЫ //


// ПЛАНШЕТЫ //
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  body {
    .main-container {
      .picture-preview-remont {
        .galery-img-label {
          font-size: 13px;
        }
      }
    }
  }
}

// ПЛАНШЕТЫ //


// КОМПЬЮТЕРЫ //
@media only screen and (min-width: 1201px) {
  body {
    .main-container {
      .picture-preview-remont {
        img {
          -o-transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
          -ms-transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
          -moz-transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
          -webkit-transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
          transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
        }

        .galery-img-label {
          font-size: 1px;
          opacity: 0;
          -o-transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
          -ms-transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
          -moz-transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
          -webkit-transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
          transition: all 0.2s cubic-bezier(0.46, 0.03, 0.85, 1.11);
        }

        &:hover {
          img {
            opacity: 0.5;
          }

          .galery-img-label {
            opacity: 1;
            font-size: 15px;
          }
        }
      }
    }
  }
}

// КОМПЬЮТЕРЫ //