$body-bg-color: #ececec;
$info-color: #17a2b8;

.main-container {
  .carousel-container {
    .preloader {
      background-repeat: no-repeat;
      background-position: -9999px -9999px;


      .slide-1 {
        background-image: url("/src/img/slider/1.jpg");
      }

      .slide-2 {
        background-image: url("/src/img/slider/2.jpg");
      }

      .slide-3 {
        background-image: url("/src/img/slider/3.jpg");

      }

      .slide-4 {
        background-image: url("/src/img/slider/4.jpg");
      }
    }

    .carousel-block {
      .carousel-indicators {
        margin-bottom: 0;
      }

      .carousel-inner {
        .carousel-bg-image {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 100vw;
        }

        .slide-1 {
          background-image: url("/src/img/slider/1.jpg");
        }

        .slide-2 {
          background-image: url("/src/img/slider/2.jpg");
        }

        .slide-3 {
          background-image: url("/src/img/slider/3.jpg");

        }

        .slide-4 {
          background-image: url("/src/img/slider/4.jpg");
        }

        .slide-header {
          margin-bottom: 0;
        }

        .slide-podheader {
          margin-bottom: 0;
        }
      }
    }
  }

  .advantages {
    max-width: 70vw;
  }

  .gallery-preview {
    max-width: 70vw;

    .card {
      border: 0;
      box-shadow: 0 0 9px 0.1px rgba(0, 0, 0, 0.3);
    }

    .modal-img {
      width: 100%;
    }
  }

  .reviews-preview {
    max-width: 80vw;

    .jumbotron {
      background-color: rgba(13, 123, 140, 0.24);
      padding: 3rem 2rem;

      .review-header {
        font-weight: 500;
      }

      .review-date {
        color: rgba(0, 0, 0, 0.4);
      }

      .review-content {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .read-more {
        float: left;
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.45);
        font-weight: 500;

        &:hover {
          cursor: pointer;
          color: rgba(0, 0, 0, 0.66);
        }
      }

      .author {
        font-weight: 500;
        float: right;
      }
    }
  }
}


// ТЕЛЕФОНЫ //
@media only screen and (max-width: 699px) {
  .main-container {
    margin-top: 70px;

    .aboutme-row{
      .aboutme{
        text-indent: 20px;
      }
    }

    .carousel-block {
      margin-top: 1.5vw;
      max-width: 90vw;

      .carousel-bg-image {
        height: 260px;
        width: 100vw;
      }
      .slide-header{
        font-size: 14px;
      }
      .slide-podheader{
        font-size: 12px;
      }
    }

    .advantages {
      .advantages-list {
        font-size: 13px;

        li img {
          height: 40px;
        }

        div {
          height: 40px;
        }
      }
    }

    .gallery-preview {
      .card {
        font-size: 13px;
        width: 100%;
      }

      .central-card {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .reviews-preview {
      .jumbotron {
        .review-header {
          font-size: 12px;
        }

        .review-date {
          font-size: 9px;
        }

        .review-content {
          font-size: 10px;
        }

        .read-more {
          font-size: 8px;
        }

        .author {
          font-size: 9px;
        }
      }
    }
  }
}

// ТЕЛЕФОНЫ //


// ПЛАНШЕТЫ //
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .main-container {
    margin-top: 85px;

    .aboutme-row{
      .aboutme{
        text-indent: 30px;
      }
    }

    .carousel-block {
      margin-top: 10px;
      max-width: 70vw;

      .carousel-bg-image {
        height: 300px;
      }
      .slide-header{
        font-size: 16px;
      }
      .slide-podheader{
        font-size: 14px;
      }
    }

    .advantages {
      .advantages-list {
        font-size: 16px;

        li img {
          height: 50px;
        }

        div {
          height: 50px;
        }
      }
    }

    .gallery-preview {
      .card {
        font-size: 16px;
        display: inline-flex;
        width: 22vw;
      }

      .central-card {
        margin-left: 2vw;
        margin-right: 2vw;
      }
    }

    .reviews-preview {
      .jumbotron {
        .review-header {
          font-size: 17px;
        }

        .review-date {
          font-size: 9px;
        }

        .review-content {
          font-size: 12px;
        }

        .read-more {
          font-size: 10px;
        }

        .author {
          font-size: 11px;
        }
      }
    }
  }
}


@media only screen and (min-width: 700px) and (max-width: 1200px) and (orientation: portrait){
  .brbr{
    display: none !important;
  }

  .rbrb{
    display: block !important;
  }
  .aboutme {
    span {
      display: none !important;
    }
  }
}
// ПЛАНШЕТЫ //


// КОМПЬЮТЕРЫ //
@media only screen and (min-width: 1201px) {
  .main-container {
    margin-top: 90px;

    .aboutme-row{
      .aboutme{
        text-indent: 40px;
      }
    }

    .carousel-block {
      margin-top: 1.5vw;
      max-width: 80vw;

      .carousel-bg-image {
        height: 450px;
      }
      .slide-header{
        font-size: 18px;
      }
      .slide-podheader{
        font-size: 16px;
      }
    }

    .advantages {
      .advantages-list {
        font-size: 20px;

        li {
          img {
            height: 60px;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
          }

          &:hover {
            img {
              -o-transform: scaleX(-1);
              -ms-transform: scaleX(-1);
              -moz-transform: scaleX(-1);
              -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
            }
          }
        }

        div {
          height: 60px;
        }
      }
    }

    .gallery-preview {
      .card {
        display: inline-flex;
        width: 20vw;

        &.central-card {
          margin-left: 5vw;
          margin-right: 5vw;
        }
      }
    }

    .reviews-preview {
      .jumbotron {
        .review-header {
          font-size: 20px;
        }

        .review-date {
          font-size: 11px;
        }

        .review-content {
          font-size: 14px;
        }

        .read-more {
          font-size: 12px;
        }

        .author {
          font-size: 13px;
        }
      }

      .modal {
        .review-modal-header {
          font-size: 14px;
        }
      }
    }
  }
}

.master-foto {
  background: url("/src/img/master.png") no-repeat center;
  background-size: contain;
  height: 100%;
  .contacts &{
    min-height: 70vh;
  }
}


// КОМПЬЮТЕРЫ //