$body-bg-color: #ececec;
$info-color: #17a2b8;

.main-container{
  .services-list-group{
    max-width: 70vw;
    a{
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      border: 1px solid rgba(0,0,0,.125);
    }
  }
}