@import "~bootstrap/scss/bootstrap";
@import "~lightbox2/dist/css/lightbox.css";

$body-bg-color: #ececec;
$info-color: #17a2b8;

body {
  background-color: $body-bg-color;
  background-image: url("/src/img/background_page.jpg");

  .navbar {
    background-color: white;
    border-bottom: 2px solid $info-color;
  }

  .header {
      font-weight: 500;
    }
  .small-header{
    font-weight: 500;
  }
  .main-text{
    font-size: 16px;
  }

  .main-container {
    padding-bottom: 50px;
    min-height: 75vh;
    max-width: 93vw;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 9px 0.1px rgba(0, 0, 0, 0.3);
    .text-row{
      max-width: 80vw;
    }
  }

  .footer{
    color: white;
    .row {
      background-color: #0d454e;
      .menu {
        .footer-list {
          font-weight: 500;
          margin-bottom: 0;
          list-style: none;
        }
      }

      a {
        color: #9c9595;
        text-decoration: underline;

        &:hover {
          color: #343434;
        }

        &:visited {
          color: #9c9595;
        }

        &:active {
          color: #9c9595;
        }
      }
      .contacts{
        p{
          margin: 0;
        }
      }
      .developer{
        a{
          font-weight: 500;
        }
      }
    }
  }
}


// ТЕЛЕФОНЫ //
@media only screen and (max-width: 699px) {
  body {
    .navbar {
      .navbar-brand img {
        height: 35px;
      }
    }

    .header {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 17px;
    }

    .small-header {
      font-size: 14px;
    }

    .main-text{
      font-size: 12px;
    }

    .main-container {
      margin-top: 70px;



    }

    .footer {
      .row {
        .menu {
          .footer-list {
            font-size: 14px;
            &.mobil-list {
              display: block;
            }

            &.computer-list {
              display: none;
            }
          }
        }
        .contacts{

          .small-contacts{
            font-size: 11px;
          }
        }
        .developer{
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }

}
// ТЕЛЕФОНЫ //


// ПЛАНШЕТЫ //
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  body {
    .navbar {
      .navbar-brand img {
        height: 45px;
      }
    }
    .header {
      font-size: 30px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .small-header{
      font-size: 15px;
    }

    .main-text{
      font-size: 16px;
    }

    .main-container {
      margin-top: 85px;
    }

    .footer{
      .row{
        .menu {
          .footer-list{
            font-size: 16px;
            &.mobil-list {
              display: none;
            }

            &.computer-list {
              display: inline-block;
            }
          }
        }
        .contacts{
          .small-contacts{
            font-size: 13px;
          }
        }
        .developer{
          font-size: 14px;
          text-align: right;
        }
      }
    }
  }
}
// ПЛАНШЕТЫ //


// КОМПЬЮТЕРЫ //
@media only screen and (min-width: 1201px) {
  body {
    .navbar {
      .navbar-brand img {
        height: 55px;
      }
    }

    .header {
      font-size: 30px;
      margin-top: 35px;
      margin-bottom: 35px;
    }
    .small-header{
      font-size: 17px;
    }
    .main-text{
      font-size: 17px;
    }

    .main-container {
      margin-top: 90px;
    }

    .footer{
      .row{
        .menu {
          .footer-list {
            letter-spacing: 2px;
            font-size: 20px;

            &.mobil-list {
              display: none;
            }

            &.computer-list {
              display: inline-block;
            }
          }
        }

        .contacts{
          p{
            font-size: 15px;
          }
        }
        .developer{
          font-size: 15px;
          text-align: right;
        }
      }
    }
  }
}

.card{
  padding: 10px;
}
.navbar-nav{
  font-size: 24px;
}
// КОМПЬЮТЕРЫ //


@import "index";
@import "gallery";
@import "services";
@import "prices";